/* universal selector.  selects EVERY element on the page: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* center content and add bg */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    background: linear-gradient(225deg, #c2d65f, #764ba2);
}



/* Card Container+Box Shadow */
.card {
    width:320px; 
    /* 1rem=16px */
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    background: linear-gradient(135deg, #8f1e1e, #f3f4f6);

    

    transition: transform 0.4s ease, box-shadow 0.4s ease; 
    /* can help hover slowly */
}

/* Hover effect */
.card:hover {
    transform: translateY(-10px) scale(1.05);
    /* Negative=up Positive=down Makes the card slightly bigger */
    box-shadow: 0 15px 30px rgba(227, 231, 3, 0.715);
}

/* text-styling */
.name {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: #1790a5;}
.role {
    font-weight: bold;
    color: #667eea;
    margin-bottom: 1rem;
}

.bio {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

/* Button layout */
.actions {
    display: flex;
    justify-content: center;
    gap: 5rem;
    
}

.btn {
    padding: 0.6rem 1.4rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    font-weight: bold;
    font-size: 0.9rem;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.follow,.message {background: linear-gradient(135deg, #6078e4, #764ba2);
    color: white;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
   
}
.btn:hover {
    transform: translateY(5px);
}

.avatar {
    width: 120px;
    height: 120px;

    object-fit: cover;/* controls how the image fits inside its box */
    

    object-position: top;   

    border-radius: 50%;
    margin-bottom: 1rem;
    border: 4px solid #667eea;

    transition: transform 0.4s ease;
}

.contact-info {
    width: 320px;
        padding: 2rem;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
    
        background: linear-gradient(135deg, #8f1e1e, #f3f4f6);
    
        box-shadow: 0 15px 30px rgba(190, 24, 24, 0.3);
    
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        cursor: pointer;
}

.contact-info:hover {transform: translateY(-10px) scale(1.05);
    box-shadow: 0 25px 45px rgb(7, 220, 223);}
.contact-info p {
    margin-bottom: 0.4rem;
}

.contact-info span {
    font-weight: bold;
    color: #667eea;
}